<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="output.css" />
        <title>Error: 404</title>
    </head>
    <body>
        <div
            class="grid h-screen place-items-center place-content-center bg-light px-4 dark:bg-dark"
        >
            <img
                class="border-green-800 border-solid border-4 rounded-lg shadow-lg"
                src="/images/404.png"
            />

            <a
                class="block rounded border border-black text-xl w-48 px-12 py-3 mt-4 text-center bg-green-700"
                href="/"
                >Home</a
            >
        </div>
    </body>
</html>
