<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="output.css" />
        <title>Habit Tracker App</title>
    </head>
    <body class="min-h-screen bg-light flex flex-col">
        <%- include('navbar') %>
        <div class="h-full flex justify-center items-center pt-4">
            <h1 class="text-accent text-6xl">hi</h1>
        </div>

        <!--
        <div class="text-8xl">hi</div>
        Habit Tracker App <% if (locals.currentUser) {%>
        <h1>WELCOME BACK <%= locals.currentUser.username %></h1>
        <a href="/log-out">LOG OUT</a>
        <% } else {%>
        <h1>please log in</h1>
        <form action="/log-in" method="POST">
            <label for="username">Username</label>
            <input
                id="username"
                name="username"
                placeholder="username"
                type="text"
            />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <button>Log In</button>
        </form>
        <a href="/sign-up">sign up</a>
        <% } %>-->
    </body>
</html>
