:root {
    --primary-color: black;
    --secondary-color: white;
    --accent-color: green;
    --ff: "DM Sans", sans-serif;
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadowdark: #00000030 0px 5px 10px 5px;
}
